In [1]:
# import dependecy for pandas
import pandas as pd

In [9]:
# Load latest dataset
data201912=pd.read_csv("JC-201912-citibike-tripdata.csv")
data201912.head()
print("Number of rows 201912:" + str(data201912.shape))

Number of rows 201912:(19728, 15)

In [8]:
# load second data set
data201906=pd.read_csv("JC-201906-citibike-tripdata.csv")
data201906.head()
print("Number of rows 201906:" + str(data201906.shape))

Number of rows 201906:(39430, 15)

In [10]:
# combine the two first sets of data
data_full=data201912.append(data201906, ignore_index=True)
print("Number of rows of data_full:" + str(data_full.shape))

Number of rows of data_full:(59158, 15)

In [11]:
# Check the appearance of the rows at the end of the appended table
data_full.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
59153,639,2019-06-30 23:38:29.5450,2019-06-30 23:49:09.2110,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,29197,Customer,1986,1
59154,643,2019-06-30 23:38:34.9100,2019-06-30 23:49:17.9690,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,26262,Customer,1990,2
59155,418,2019-06-30 23:42:30.9400,2019-06-30 23:49:29.5360,3679,Bergen Ave,40.722104,-74.071455,3191,Union St,40.718211,-74.083639,29241,Subscriber,1979,1
59156,2529,2019-06-30 23:46:17.5700,2019-07-01 00:28:27.1710,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26254,Subscriber,1982,1
59157,831,2019-06-30 23:49:01.6830,2019-07-01 00:02:53.1150,3210,Pershing Field,40.742677,-74.051789,3186,Grove St PATH,40.719586,-74.043117,29551,Subscriber,1988,1

In [12]:
# Load and add third data set
data201812=pd.read_csv("JC-201812-citibike-tripdata.csv")
data_full=data_full.append(data201812, ignore_index=True)
data_full.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
79358,1081,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.71113,-74.0789,3269,Brunswick & 6th,40.726012,-74.050389,29586,Subscriber,1993,1
79359,344,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.71113,-74.0789,3280,Astor Place,40.719282,-74.071262,26241,Subscriber,1983,2
79360,1233,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.71113,-74.0789,3186,Grove St PATH,40.719586,-74.043117,29294,Subscriber,1988,1
79361,1057,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.71113,-74.0789,3213,Van Vorst Park,40.718489,-74.047727,29475,Subscriber,1991,2
79362,301,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.71113,-74.0789,3277,Communipaw & Berry Lane,40.714358,-74.066611,26270,Subscriber,1991,1

In [13]:
# Load and add forth data set
data201806=pd.read_csv("JC-201806-citibike-tripdata.csv")
data_full=data_full.append(data201806, ignore_index=True)
data_full.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
120295,1227,2018-06-30 20:46:55.7500,2018-06-30 21:07:22.9730,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,29197,Subscriber,1979,2
120296,1219,2018-06-30 20:47:02.7610,2018-06-30 21:07:22.1720,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,33633,Customer,1969,0
120297,1227,2018-06-30 20:47:03.1250,2018-06-30 21:07:30.3560,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,26297,Subscriber,1987,2
120298,252,2018-06-30 21:13:35.6890,2018-06-30 21:17:48.5690,3681,Grand St,40.715178,-74.037683,3267,Morris Canal,40.712419,-74.038526,29482,Subscriber,1979,2
120299,652,2018-06-30 22:03:44.8150,2018-06-30 22:14:37.5310,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,29235,Subscriber,1982,1

In [14]:
# Load and add firth data set
data201712=pd.read_csv("JC-201712-citibike-tripdata.csv")
data_full=data_full.append(data201712, ignore_index=True)
data_full.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
136193,972,2017-12-31 21:54:12,2017-12-31 22:10:25,3191,Union St,40.718211,-74.083639,3186,Grove St PATH,40.719586,-74.043117,29644,Subscriber,1987.0,2
136194,382,2017-12-31 22:10:18,2017-12-31 22:16:41,3280,Astor Place,40.719282,-74.071262,3268,Lafayette Park,40.713464,-74.062859,31799,Subscriber,1994.0,1
136195,93,2017-12-31 22:55:10,2017-12-31 22:56:43,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,31920,Subscriber,1957.0,1
136196,186,2017-12-31 23:20:54,2017-12-31 23:24:00,3270,Jersey & 6th St,40.725289,-74.045572,3211,Newark Ave,40.721525,-74.046305,31925,Subscriber,1964.0,1
136197,422,2017-12-31 23:33:55,2017-12-31 23:40:57,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,31709,Subscriber,1979.0,1

In [15]:
# Load and add sixth data set
data201706=pd.read_csv("JC-201706-citibike-tripdata.csv")
data_full=data_full.append(data201706, ignore_index=True)
data_full.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
168253,934,2017-06-30 23:50:05,2017-07-01 00:05:40,3211,Newark Ave,40.721525,-74.046305,3207,Oakland Ave,40.737604,-74.052478,26287,Subscriber,1991.0,1
168254,908,2017-06-30 23:50:31,2017-07-01 00:05:39,3211,Newark Ave,40.721525,-74.046305,3207,Oakland Ave,40.737604,-74.052478,29472,Subscriber,1993.0,2
168255,238,2017-06-30 23:52:16,2017-06-30 23:56:15,3203,Hamilton Park,40.727596,-74.044247,3211,Newark Ave,40.721525,-74.046305,29572,Subscriber,1992.0,1
168256,184,2017-06-30 23:57:50,2017-07-01 00:00:54,3267,Morris Canal,40.712419,-74.038526,3183,Exchange Place,40.716247,-74.033459,29199,Subscriber,1985.0,1
168257,463,2017-06-30 23:59:16,2017-07-01 00:07:00,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,26289,Subscriber,1965.0,1

In [17]:
# Create a new csv with merged files
data_full.to_csv("mergedBikeData2019to2017.csv", index=False)